/* import fonts from local directory */
@font-face {
    font-family: 'TildaSans';
    src: url('statics/TildaSans.07TTF/TildaSans-Regular.ttf') format('woff2'),
         url('statics/TildaSans.07TTF/TildaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family:  'TildaSans', Arial, sans-serif;
    font-style: normal;
}

nav {
    background-color: #0d3777;
    color: #fff;
}

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Special+Gothic:wght@400..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* all formats */

.cvdate {
  float: right;
  font-style: italic
}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

/* adapt stylesheet for print
from: https://github.com/quarto-dev/quarto-cli/discussions/2538#discussioncomment-4081842 */

/* for page-breaks use style spans
  page-break-before: always;
  page-break-after: always;
*/

@media print {
  @page {
      size: a4 portrait;
      counter-increment: page;
      @bottom-center {
        content: counter(page)
      }
  }
  .no-print {
      display: none;
  }
  .print-only {
      display: block;
  }

  .contact-block {
      margin-top: 0%;
      text-align: center;
  }

  html {
    font-family: 'Public Sans', sans-serif;
  }

  header {
    margin-block-end: 5em;
  }
  header h1.title {
      display: none;
  }
  header .author {
    font-size: 2em;
    font-weight: 900;
    color: black;
    text-align: center;
    margin-block-end: 0em;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  h2 {
    font-weight: 900;
    text-transform: uppercase;
    /* color: blueviolet; */
  }

  h3 {
    font-weight: 700;
    text-transform: uppercase;
    /* color: green; */
  }

  p {
    font-size: small;
  }

  ul li{
    font-size: smaller;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: #36a7e9;
  }
}

.caption {
  text-align: center;
}

figcaption {
  font-size: 0.9rem;
  color: #555;
  text-align: center;
  margin-top: 0.5em;
}

.navbar-logo {
  height: 200px;
  width: auto;
}
