.quarto-title-block .quarto-title-banner {
  background-image: url(itc.png);
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 30px;
  background-origin: content-box;
}
